main > .container {
    padding: 60px 15px 0;
}
.question {
   border: 3px solid gray;
   border-radius: 5px;
   margin: 20px;
   padding: 10px;
}
.avatar-question {
   width: 150px;
   height: 150px;
}

/* SVG FROM - https://feathericons.com */
.lidi i {
   display: inline-block;
   width: 32px; height: 32px;
   background: #323232;
   mask-size: cover !important;
 }
 .lidi i.up { mask: url(img/like.svg) }
 .lidi i.down { mask: url(img/dis.svg) }
 .lidi i.up.set { background: #462dff; }
 .lidi i.down.set { background: #dd3d3d; }